input{
  padding: 10px;
  margin-bottom : 10px;
  width: 300px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
}

button{
  margin: 10px;
  padding: 10px;
}

form{
  padding: 20px;
  margin: 20px;
}

.card{
  border: 2px solid black;
  padding: 20px;
  width: 400px;
  margin: 20px;
  border-radius: 10px;
}

img{
  width: 300px;
}